*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(94, 102, 151));
    font-family: sans-serif;
    color: white;
    padding: 20px;
}

.search{
    flex-direction: row;
}

.search input{
    font-size: 15px;
    border-radius: 20px;
    margin-bottom: 20%;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
}

.search i{
    cursor: pointer;
}

.search-txt{

}

/* .search-btn{
    float: right;
    border-radius: 50%;
    display: flex;
    align-items:  center;
} */

.title-text h1{
    margin-bottom: 30%;
}

.location, .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature{
    flex-direction: column;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span{
    margin: 10px;
    font-size: 30px;
    font-weight: 400;
}

.degree-section h2{
    font-size: 40px;
}